@property --continuous-rounding {
    syntax: '<length>';
    inherits: true;
    initial-value: 10px;
}

@property --continuous-rounding-top-left {
    syntax: '<length>';
    inherits: true;
    initial-value: 10px;
}

@property --continuous-rounding-top-right {
    syntax: '<length>';
    inherits: true;
    initial-value: 10px;
}

@property --continuous-rounding-bottom-right {
    syntax: '<length>';
    inherits: true;
    initial-value: 10px;
}

@property --continuous-rounding-bottom-left {
    syntax: '<length>';
    inherits: true;
    initial-value: 10px;
}

*[style*="--continuous-rounding"] {
    -webkit-mask-image: paint(continuous-corner);
    mask-image: paint(continuous-corner);
}

.rectangle[style*="--continuous-rounding"] {
    -webkit-mask-image: paint(continuous-corner);
    mask-image: paint(continuous-corner);
}
